[submodule "concrete5/packages/basic_table_package"]
	path = concrete5/packages/basic_table_package
	url = git@github.com:BacLuc/basic_table_package.git
[submodule "concrete5/packages/bacluc_event_package"]
	path = concrete5/packages/bacluc_event_package
	url = git@github.com:BacLuc/bacluc_event_package.git
[submodule "concrete5/packages/bacluc_gryfenberg_theme"]
	path = concrete5/packages/bacluc_gryfenberg_theme
	url = git@github.com:BacLuc/bacluc_gryfenberg_theme.git
[submodule "concrete5/packages/theme_c57_bootstrap"]
	path = concrete5/packages/theme_c57_bootstrap
	url = git@github.com:dsgraham/theme_c57_bootstrap.git
[submodule "concrete5/packages/concrete_bootstrap_boilerplate_theme"]
	path = concrete5/packages/concrete_bootstrap_boilerplate_theme
	url = git@github.com:BacLuc/concrete_bootstrap_boilerplate_theme.git
