[submodule "concrete5/packages/basic_table_package"]
	path = concrete5/packages/basic_table_package
	url = git@github.com:BacLuc/basic_table_package.git
[submodule "concrete5/packages/bacluc_event_package"]
	path = concrete5/packages/bacluc_event_package
	url = git@github.com:BacLuc/bacluc_event_package.git
[submodule "concrete5/packages/bacluc_gryfenberg_theme"]
	path = concrete5/packages/bacluc_gryfenberg_theme
	url = git@github.com:BacLuc/bacluc_gryfenberg_theme.git
