#surveyResults .surveySwatch {
    background: #999999 none repeat scroll 0%;
    border: 1px solid #666666;
    float: left;
    font-size: 1px;
    height: 10px;
    line-height: 1px;
    margin: 5px 4px 0px 0px;
    width: 10px;
}

#surveyQuestion {
    clear: both;
    padding-bottom: 10px;
}

.btn.actionbutton.edit{
	color: orange;
}

.btn.actionbutton.delete{
	color: red;
}

.btn.actionbutton.add{
	color: green;
}



.bootstrap-tagsinput{
	display:block !important;
}

.basic_table_package input[type="text"]
,  .basic_table_package input[type="email"]
,  .basic_table_package input[type="tel"]
,  .basic_table_package input[type="url"]
, .basic_table_package .ccm-input-date {
    float: none !important;
    margin: 0px !important;
    padding: 4px !important;
}

.basic_table_package .bootstrap-tagsinput input{
    border:none !important;
}

.basic_table_package .twitter-typeahead{
    display: block !important;
}
.basic_table_package .twitter-typeahead input{
    background-color: unset;
}


/*for subrow form*/
div.hidden_form_row{
    display: none;
}

div.hiddenforminfo{
    display:none;
}

.basic_table_package label {
    line-height: 1;
    margin-top: 5px;
    word-wrap: normal;
}

.basic_table_package .subentityedit.col-xs-12 {
    padding-left: 40px;
}