.bacluc_event.bacluc_event_next_event_block .prefix {
    font-weight: bolder;
}
.bacluc_event.bacluc_event_next_event_block .title {
    margin-bottom: 20px;
    font-weight: bolder;
}
.bacluc_event.bacluc_event_next_event_block .description {
    margin-bottom: 20px;
    margin-top: 20px;
}
